<div class="wrapper-box">
  <div class="main-wrapper">
    <div id="content">
    <!-- Nivo Slider Start -->
    <section class="slider-wrapper">
      <div id="slideshow" class="nivoSlider">
        <a class="nivo-imageLink" href="http://themeforest.net/item/polishop-responsive-ecommerce-html-template/4410285?ref=harnishdesign"><img src="assets/image/slider/slide-1.jpg" alt="slide-1" /></a> <a class="nivo-imageLink" href="http://themeforest.net/item/polishop-responsive-ecommerce-html-template/4410285?ref=harnishdesign"><img src="assets/image/slider/slide-2.jpg" alt="slide-2" /></a> <a class="nivo-imageLink" href="http://themeforest.net/item/polishop-responsive-ecommerce-html-template/4410285?ref=harnishdesign"><img src="assets/image/slider/slide-3.jpg" alt="slide-3" /></a> </div>
    </section>
    <!-- Nivo Slider End-->
    <!-- Welcom Text Start-->
    <div class="welcome">Welcome to Polishop</div>
    <p><strong>Polishop</strong> Premium Responsive HTML Template. Polishop is a clean and Fully Responsive to use the template for every kind of eCommerce online shop. Great Looks on Desktops, Tablets and Mobiles. Well Documented. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">BUY THEME</a>.</p>
    <!-- Welcom Text End-->
    <!-- Featured Product Start-->
    <section class="box">
      <div class="box-heading">products</div>
      <section id="carousel">
      <div class="box-content">
        <div class="box-product" >
          <div class="flexslider featured_carousel" >
            <ul class="jcarousel-skin-opencart"  >
              <!-- style="display:flex; flex-direction:row;" -->
              <li *ngFor="let produit of produits" style="display:inline-block"  >
                <div class="slide-inner slides" >
                  <div class="image"><a href="#0"><img src="../../../assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                  <div class="name"><a href="#0">{{ produit.name }}</a></div>
                  <div class="price"> {{ produit.price }} TND </div>
                  <div class="price"> {{ produit.quantity }} unity </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    </section>
    <!-- Featured Product End-->
    <!-- Product Tab Start-->
    <section id="product-tab" class="product-tab">
      <ul id="tabs" class="tabs">
        <li><a href="#tab-latest">Latest</a></li>
        <li><a href="#tab-bestseller">Bestseller</a></li>
        <li><a href="#tab-special">Special</a></li>
      </ul>
      <div id="tab-latest" class="tab_content">
        <div class="box-product">
          <div class="flexslider latest_carousel_tab">
            <ul class="slides">
              <li *ngFor="let product of products" >
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg" alt="Samsung SyncMaster 941BW" /></a></div>
                  <div class="name"><a href="product.html">{{ product.label }}</a></div>
                  <div class="price"> {{ product.price }} </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-bestseller" class="tab_content">
        <div class="box-product">
          <div class="flexslider bestseller_carousel_tab">
            <ul class="slides">
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-210x210.jpg" alt="Apple Cinema 30&quot;" /></a></div>
                  <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                  <div class="price"> <span class="price-old">$119.50</span><span class="price-new">$107.75</span> </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/sony_vaio_1-210x210.jpg" alt="Friendly Jewelry" /></a></div>
                  <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                  <div class="price"> $1,177.00 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                  <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                  <div class="price"> $131.25 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                  <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                  <div class="price"> $589.50 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                  <div class="name"><a href="product.html">Sunglass</a></div>
                  <div class="price"> $1,177.00 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="tab-special" class="tab_content">
        <div class="box-product">
          <div class="flexslider special_carousel_tab">
            <ul class="slides">
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                  <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                  <div class="price"> $131.25 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                  <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                  <div class="price"> $589.50 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                  <div class="name"><a href="product.html">Sunglass</a></div>
                  <div class="price"> $1,177.00 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg" alt="Samsung SyncMaster 941BW" /></a></div>
                  <div class="name"><a href="product.html">Samsung SyncMaster 941BW</a></div>
                  <div class="price"> $237.00 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                  <div class="name"><a href="product.html">Sunglass</a></div>
                  <div class="price"> $1,177.00 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
              <li>
                <div class="slide-inner">
                  <div class="image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-210x210.jpg" alt="Eagle Print Top" /></a></div>
                  <div class="name"><a href="product.html">Eagle Print Top</a></div>
                  <div class="price"> $236.99 </div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Tab End-->
    <!-- Carousel Start-->
    <section id="carousel">
      <ul class="jcarousel-skin-opencart">
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        <li><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
      </ul>
    </section>
    <!-- Carousel End-->

    
</div>
</div>